@model List<ClientesModels>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1>Clientes

    </h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    Nome
                </th>
                <th scope="col">
                    Endereço
                </th>
                <th scope="col">
                    Telefone
                </th>
                <th scope="col">
                    Status
                </th>

            </tr>
        </thead>


        <tbody>
            <h3>Clientes hoje: @ViewBag.ClientesHoje</h3>
            
            @if (Model == null || !Model.Any())
            {
                <tr>
                    <td colspan="5">
                        Nenhum cliente encontrado
                    </td>
                </tr>
            }
            else
            {
                @foreach (var cliente in Model)
                {
                    <tr>
                        <th class="invisivel" scope="row">@cliente.Id</th>
                        <td>@cliente.Nome</td>
                        <td>@cliente.Endereco</td>
                        <td>@cliente.Telefone</td>
                        @if ((int)cliente.Status == 1)
                        {
                            <td class="pedente">@cliente.Status</td>
                        }
                        @if ((int)cliente.Status == 2)
                        {
                            <td class="fechado">@cliente.Status</td>
                        }
                        @if ((int)cliente.Status == 3)
                        {
                            <td class="NaoFechado">@cliente.Status</td>
                        }

                        <td>
                            <div class="btn-group" role="group">

                                <a asp-controller="Controle" asp-action="Editar" asp-route-id="@cliente.Id"
                                   class="btn btn-primary">
                                    Editar
                                </a>

                                <a asp-controller="Controle" asp-action="Excluir" asp-route-id="@cliente.Id"
                                   class="btn btn-danger">
                                    Excluir
                                </a>

                            </div>
                        </td>

                        

                    </tr>
                }
            }

            <a asp-controller="Controle" asp-action="Adicionar" class="btn btn-primary">
                Adicionar
            </a>


        </tbody>

    </table>
</div>